<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Add invoice to database</title>
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC">
</head>
<body>
    <h1>Add invoice to database</h1>
    <form id="form-container" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ invoiceform.as_p }}
        {{ formset.management_form }}

        {% for form in formset %}
            <div class="product-form" style="border: 2px solid black;">
            {{ form.as_p }}
            </div>
        {% endfor %}
        <br>
        <button id="add-form" type="button">Add another product</button>
        <button id="remove-form" type="button">Remove last product</button>
        <br>
        <br>
        <br>
        <button type="submit" class="btn btn-block btn-primary">Add invoice</button>
    </form>
    <br>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/">Homepage</a>

    <script>
        let productForm = document.querySelectorAll(".product-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let removeButton = document.querySelector("#remove-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
        let formNum = productForm.length-1

        addButton.addEventListener('click', addForm)
        removeButton.addEventListener('click', removeForm)

        function addForm(e){
            e.preventDefault()

            let newForm = productForm[0].cloneNode(true)
            const formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)

            totalForms.setAttribute('value', `${formNum+1}`)
        }

        function removeForm(e){
            e.preventDefault()
            const productForm = document.querySelectorAll(".product-form")
            if (formNum !== 0) {
                const lastForm = productForm[formNum]
                lastForm.remove()
                formNum--
                totalForms.setAttribute('value', `${formNum+1}`)
            }
        }
    </script>
    <script>
        const total_net = document.querySelector('#id_total_net')
        const total_brutto = document.querySelector('#id_total_brutto')
        document.addEventListener('change', updateTotal)
        total_net.addEventListener('change', updateBrutto)

        function updateTotal() {
            const prodForm = document.querySelectorAll(".product-form")
            let total = 0
            prodForm.forEach(function (element, index, array) {
                console.log(element.lastElementChild.children[1])
                const product_net = parseInt(element.lastElementChild.children[1].value)
                total += product_net
            })
            total_net.value = total
            updateBrutto()
        }

        function updateBrutto() {
            total_brutto.value = total_net.value*1.23.toFixed(2)
        }
    </script>
</body>